
 /* HEADER */
.header {
    background-color: #000;
    width: 100vw;
    height: 56.25vw;
    position: relative;
}

.header__mask {
    position: absolute;
    z-index: 0;
    background-color: #000;
    top: 0;
    left: 0;
    height: 56.25vw;
    width: 100vw;
}

.header .container {
    position: relative;
    z-index: 1;
}

.header__loading {
    position: absolute;
    transform: translateY(50vh);
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 10;
    overflow: hidden;
}

.header__loading img {
    width: 14vw;
    position: relative;
    transform-origin: bottom center;
}

.header__loading p {
    font-size: 2.1875vw;
    color: #fff;
    font-family: var(--secondary-font);
    font-weight: 300;
    text-transform: uppercase;
    position: absolute;
}

.header__top {
    margin-bottom: 5.29vw;
    padding-top: 3.3vw;
    position: relative;
    z-index: 100;
    opacity: 0;
}

.menu__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu__item {
    color: #fff;
    font-size: 1.66667vw;
    font-family: var(--secondary-font);
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    overflow: hidden;
    width: 33.3%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu__logo img {
    width: 7.8vw;
}

.menu__language {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.menu__language a {
    color: #ededed;
    font-family: var(--primary-font);
    font-size:  1.5625vw;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0 1rem;
    position: relative;
}

.menu__language .dot-red {
    display: inline-block;
    width: 1.2vw;
    height: 1.2vw;
    border-radius: 50%;
    background-color: red;
    transition: opacity 350ms ease;
    opacity: 0;
}

.menu__language span {
    display: inline-block;
}

.menu__language .lang-esp:hover .dot-red {
    opacity: 1;
}

.menu__language .dot-blue {
    width: 1.2vw;
    height: 1.2vw;
    border-radius: 50%;
    background-color: #0038A6;
    transform: translate3d(0, 50px, 0);
}

.header__title {
    display: flex;

    justify-content: space-between;
}

.header__title .left {
    position: relative;
}

.header__title .left h1, .header__subtitle h1 {
    overflow: hidden;
}

.header__title .left span, .header__subtitle span {
    font-size: 8.33334vw;
    font-family: var(--secondary-font);
    color: #fff;
    display: inline-block;
}

.header__subtitle span {
    animation-delay: 5.6s;
}

.header__title .left h1:last-child {
    position: relative;
    top: -4vw;
}

.header__title .right {
    display: flex;
    margin-top: 3rem;
    padding-right: 2vw;
}

.header__title .right .right__circle {
    background-color: #F8BC26;
    height: 7.29167vw;
    width: 7.29167vw;
    border-radius: 50%;
    transform-origin: 50% bottom;
}

.header__title .right .circle-green {
    background-color: #02A751;
    transform: scale(0);
    width: calc(7.29167vw / 2);
    border-radius: 100vw 0 0 100vw;
    border-top-left-radius: 100vw;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 100vw;
    transform-origin: 100% 50%;
    transform: rotate(180deg);
}

.header__subtitle {
    padding-left: 5vw;
    position: relative;
    z-index: 3;
}

.img-parallax {
    position: absolute;
    width: 41.8vw;
    height: 57.9vw;
    z-index: 2;
    right: -14vw;
    bottom: -37.55vw;
    overflow: hidden;
}

.img-parallax img {
    position: absolute;
    right: 0;
    height: 100%;
    max-width: initial;
}

.section1 {
    padding-top: 5.84vw;
    height: 123.02083vw;
    background-color: #ededed;
    position: relative;
    z-index: -1;
}

.section1 .sec1__title h3 {
    font-size: 2.86458vw;
    line-height: 1.18em;
    letter-spacing: -.02em;
    font-family: var(--primary-font);
    font-weight: 300;
    width: 26.2vw;
    padding-bottom: 6.6vw;
    padding-left: 0.6vw;
    color: #000;
}

.sec1__content {
    display: flex;
    justify-content: space-between;
}

.sec1__content .content__left {
    width: 29.9vw;
    height: 41.15vw;
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.sec1__content .content__left img {
    width: 100%;
    height: 100%;
}

.sec1__content .content__right {
    width: 50%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.sec1__content .content__right .circle1 {
    position: absolute;
    right: 3vw;
    z-index: 1;
    top: 11vw;
}

.sec1__content .content__right .circle1 span {
    display: inline-block;
    background-color: #ff5702;
    width: 10.93vw;
    height: 5.46875vw;
    border-radius: 0 0 100vw 100vw;
    transform-origin: center center;
}
.sec1__content .content__right .circle2 {
    overflow: hidden;
}

.sec1__content .content__right .circle2 span {
    background-color: #000;
    display: inline-block;
    width: 7.3vw;
    height: 14.58vw;
    border-radius: 100vw 0 0 100vw;
    transform-origin: 100% 50%;
}

.sec1__bottom h2 {
    text-align: right;
    color: #000;
    font-size: 7.29167vw;
    font-family: var(--secondary-font);
    font-weight: 300;
    line-height: 1em;
    letter-spacing: -0.04em;
    position: relative;
    z-index: 5;
}

.sec1__bottom__img {
    position: absolute;
    width: 56.77vw;
    height: 77.08vw;
    bottom: -7.5vw;
    z-index: 1;
}

.sec1__bottom__mountain {
    position: absolute;
    width: 26.5vw;
    height: 27.08vw;
    right: 0vw;
    bottom: -1.61vw;
}

.sec1__bottom__circle {
    position: absolute;
    right: 1.5vw;
    bottom: 0;
}

.sec1__bottom__circle span {
    display: inline-block;
    width: 26.5vw;
    height: 27.05vw;
    background-color: #000;
    border-radius: 50%;
}

.section2 {
    background-color: #0038a6;
    height: 84.9vw;
    padding-top: 16.6vw;
    position: relative;
    z-index: -2;
    overflow: hidden;
}

.sec2__list__title {
    text-align: center;
}

.sec2__list__item {
    line-height: 10.3vw;
    height: 10.25vw;
    margin: 0.2rem;
}

.sec2__list__item .item__mask {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.sec2__list__item .item__mask:nth-child(2) h3 {
    transition-delay: 2s;
}

.sec2__list__item h3 {
    font-family: var(--secondary-font);
    font-size: 12.5vw;
    width: 100%;
    height: 100%;
    font-weight: 300;
    letter-spacing: -0.01em;
    color: #fff;
    position: absolute;
    transform: translateY(100%);
    opacity: 0;
    text-transform: uppercase;

    -webkit-transition: all .7s cubic-bezier(0.3, 0, 0.2, 1);
    -moz-transition: all .7s cubic-bezier(0.3, 0, 0.2, 1);
    -ms-transition: all .7s cubic-bezier(0.3, 0, 0.2, 1);
    -o-transition: all .7s cubic-bezier(0.3, 0, 0.2, 1);
    transition: all .7s cubic-bezier(0.3, 0, 0.2, 1);
}

.sec2__list__item:nth-child(2) h3 {
    transition-delay: 0.02s;
}
.sec2__list__item:nth-child(3) h3 {
    transition-delay: 0.04s;
}
.sec2__list__item:nth-child(4) h3 {
    transition-delay: 0.06s;
}
.sec2__list__item:nth-child(5) h3 {
    transition-delay: 0.08s;
}

.sec2__list__item .show {
    transform: translateY(0%);
    opacity: 1;
}

.sec2__list {
    width: 28.75vw;
    height: 35.41667vw;
    position: absolute;
    top: calc(47% - 28.75vw/2);
    left: calc(54% - 35.41667vw/2);
}

.list__item {
    width: 100%;
    height: 100%;
    position: absolute;
}

.sec2__img {
    position: absolute;
    z-index: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.sec2__img img { 
    width: 100%;
    position: absolute;
}

.img-hidden {
    z-index: 1 !important;
}

.img-show {
    z-index: 2 !important;
}

.list__item .sec2__img.img-show {
    animation: 1.1s cubic-bezier(0.215, 0.61, 0.355, 1) 0s forwards running boxImgShow;
}

.list__item .sec2__img.img-show img {
    animation: 1.1s cubic-bezier(0.215, 0.61, 0.355, 1) 0s forwards running imgShow;
}

.list__item .sec2__img {
    animation: 1.1s cubic-bezier(0.215, 0.61, 0.355, 1) 0s forwards running boxImgHidden;
}

.list__item .sec2__img.img-hidden img {
    animation: 1.1s cubic-bezier(0.215, 0.61, 0.355, 1) 0s forwards running imgHidden;
}

.section3 {
    height: 46.97917vw;
    padding-top: 7.85vw;
    background-color: #ededed;
}

.sec3__content {
    display: flex;
    justify-content: space-between;
}

.sec3__left {
    width: 50%;
}

.sec3__left h3 {
    width: 50%;
    font-size: 2.86458vw;
    letter-spacing: -0.02em;
    font-weight: 300;
    color: #000;
    width: 29.95vw;
}

.sec3__left .sec3__circle {
    display: flex;
    margin-top: 4vw;
    overflow: hidden;
}

.sec3__left .sec3__circle1, .sec3__left .sec3__circle2 {
    overflow: hidden;
}

.sec3__left .sec3__circle1 span, .sec3__left .sec3__circle2 span {
    display: inline-block;
    width: 4.97396vw;
    height: 9.94792vw;
    border-radius: 0 100vw 100vw 0;
    background-color: #0038a6;
}

.sec3__left .sec3__circle2 span {
    background-color: #ff5702;
}

.sec3__right {
    height: 53.333vw;
    width: 37.43vw;
    overflow: hidden;
    padding-top: 5vw;
    position: relative;
    top: 100px;
}

.sec3__right img {
    transition: all 1.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.section4 {
    background-color: #000;
    padding-top: 12vw;
    overflow: hidden;
}

.sec4__top > .container {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.sec4__top .top__left h3 {
    color: #fff;
    font-size: 7.29vw;
    font-family: var(--secondary-font);
    font-weight: 300;
    line-height: 1em;
    letter-spacing: -0.04em;
    text-align: right;
}

.sec4__top .top__right {
    position: relative;
    margin-top: 140px;
}

.sec4__right__circle {
    position: relative;
    top: 17vw;
}

.sec4__top .sec4__right__circle:nth-child(1) {
    position: absolute;
    right: 10vw;
    top: 1vw;
    z-index: 1;
}

.sec4__top .sec4__right__circle:nth-child(1) span {
    width: 11.25vw;
    height: 5.625vw;
    background-color: #02A751;
    border-radius: 100vw 100vw 0 0;
    display: inline-block;
}

.sec4__top .sec4__right__circle:nth-child(2) span {
    width: 14.94792vw;
    height: 14.94792vw;
    border-radius: 50%;
    background-color: #f8bc26;
    display: inline-block;
}

.sec4__center {
    display: flex;
    margin-top: 6rem;
    overflow: hidden;
}

.sec4__center .center__left, .sec4__center .center__right {
    width: 50vw;
}

.sec4__center .center__left {
    height: 62.5vw;
    position: relative;
    overflow: hidden;
}

.center__left .center__boxImg {
    position: absolute;
    overflow: hidden;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    left: -100%;
    z-index: 0;
}

.center__left .center__boxImg img {
    transform: scale(1.5);
}

.center__left .center__boxImg::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #000;
    position: absolute;
    top: 0;
    left: -100%;
}

.center__left.animate .center__boxImg.show {
    animation: 1.2s cubic-bezier(0.3, 0, 0.2, 1) 0s forwards running sec4BoxLeftActive !important; 
    z-index: 2 !important;
}

.center__left.animate .center__boxImg.show img{
    animation: 1.2s cubic-bezier(0.3, 0, 0.2, 1) 0s forwards running sec4ImgLeftActive !important; 
    z-index: 2 !important;
}

.center__left.animate .center__boxImg.hidden {
    z-index: 1 !important;
}

.center__left.animate .center__boxImg.hidden::after {
    animation: 1.2s cubic-bezier(0.3, 0, 0.2, 1) 0s forwards running sec4BoxLeftActive !important; 
    z-index: 1 !important;
}

.center__left.animate .center__boxImg.hidden img{
    animation: 1.2s cubic-bezier(0.3, 0, 0.2, 1) 0s forwards running sec4ImgLeftHidden !important;
    z-index: 1 !important;
}

@keyframes sec4BoxLeftActive {
    0% { left: -100%;  }
    100% { left: 0;  }
}

@keyframes sec4ImgLeftActive {
    0% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes sec4ImgLeftHidden {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

.center__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    transform: translateY(60%);
    transition: all .7s cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
}

.center__right.animate {
    transform: translateY(0);
}

.center__right .control__slide {
    width: 26.20436vw;
    text-align: center;
}

.center__right .control__slide p {
    font-size: 1.45834vw;
    color: #fff;
    text-transform: uppercase;
    margin: 2rem 0;
    cursor: pointer;
    overflow: hidden;
}

.center__right .control__slide p span {
    display: inline-block;
    transform: translateY(100%);
    transition: all .7s cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

.center__right.animate .control__slide p span {
    transform: translateY(0);
}

.center__right .slide__list {
    width: 26.20436vw;
    height: 34.01042vw;
    position: relative;
}

.center__right .slide__list .slide__item {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
}

.center__right.animate .slide__list .slide__item img {
    width: 100%;
    position: absolute;
}

.center__right.animate .slide__list .slide__item.img-show {
    animation: 1.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s forwards running boxImgShow;
}

.center__right.animate .slide__list .slide__item.img-show img {
    animation: 1.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s forwards running imgShow;
}


.center__right.animate .slide__list .slide__item.img-hidden {
    animation: 1.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s forwards running boxImgHidden;
}

.center__right.animate .slide__list .slide__item.img-hidden img {
    animation: 1.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s forwards running imgHidden;
}

.slide__title {
    width: 6.8vw;
    height: 34.01042vw;
    writing-mode: vertical-lr;
    position: absolute;
    overflow: hidden;
    right: 9vw;
    top: calc(50% - 34.01042vw/2);
    text-align: center;
    z-index: 2;
}

.slide__title p {
    font-size: 6.25vw;
    font-weight: 300;
    font-family: var(--secondary-font);
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    left: -100%;
    width: 100%;
    height: 100%;
    transition: all .8s cubic-bezier(0.3, 0, 0.2, 1) 0.3s;
    opacity: 0;
}

.center__right.animate .slide__title p.show {
    left: 0;
    opacity: 1;
}

.sec4__bottom {
    padding: 8rem 0;
}

.sec4__bottom .container {
    display: flex;
}

.sec4__bottom .bottom__left, .sec4__bottom .bottom__right {
    width: 28.94784vw;
}

.sec4__bottom .bottom__right {
    margin-left: 8.5vw;
}

.sec4__bottom h3 {
    color: #fff;
    font-size: 2.08334vw;
    line-height: 1.375em;
    letter-spacing: -.02em;
    font-weight: 300;
    font-family: var(--primary-font);
    margin: 4.5rem 0;
}

.section5 {
    padding-top: 160px;
    background-color: #ededed;
}

.section5 .container {
    position: relative;
}

.section5 h3 {
    font-size: 7.29167vw;
    font-family: var(--secondary-font);
    font-weight: 300;
    line-height: 1em;
    letter-spacing: -0.04em;
    color: #000;
}

.sec5__top {
    position: relative;
    z-index: 2;
}

.sec5__top h3{
    text-align: right;
}

.sec5__center {
    position: relative;
    z-index: 1;
    top: -20vw
}

.sec5__center .semi-circle span {
    display: block;
    height: 22.08333vw;
    width: 43.69792vw;
    border-radius: 100vw 100vw 0 0;
    background-color: #f8bc26;
}

.sec5__center .triangle span {
    border-left: 43.69792vw solid transparent;
    border-right: 0 solid transparent;
    border-bottom: 37.44792vw solid #0038a6;
}

.sec5__content {
    position: relative;
    z-index: 2;
    margin-top: 28vw;
}

.sec5__video {
    position: relative;
    z-index: 1;
    top: -5vw;
    overflow: hidden;
}

.sec5__video div {
    width: 37.4348vw;
    height: 56.66667vw;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    transform: translateY(29vw);
    transition: all 1.6s cubic-bezier(0.215, 0.61, 0.355, 1) .32s;
}

.sec5__video div video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(2);
    transition: all 1.7s cubic-bezier(0.215, 0.61, 0.355, 1) .32s;
}

.animate div {
    transform: translateY(0);
}

.animate div video {
    transform: scale(1.1);
}

.sec5__semi__circle__left {
    position: absolute;
    top: 66vw;
    right: -0.2vw;
}

.sec5__semi__circle__right {
    position: absolute;
    top: 66vw;
    right: 0;
}

.sec5__semi__circle__left span {
    display: inline-block;
    width: 29.97396vw;
    height: 59.31667vw;
    border-radius: 100vw 0 0 100vw;
    background-color: #ff5702;
}

.sec5__semi__circle__right span {
    display: inline-block;
    width: 29.97396vw;
    height: 59.31667vw;
    border-radius: 0vw 100vw 100vw 0vw;
    background-color: #000;
    position: absolute;
}

.footer {
    background-color: #ededed;
    padding: 5vw;
}

.footer__top {
    display: flex;
    justify-content: space-between;
}

.footer__top h3, .footer__top h3 a, .footer__bottom p, .footer__bottom h3 a {
    font-size: 2.08334vw;
    font-family: var(--primary-font);
    font-weight: 500;
    color: #000;
    line-height: 1.7vw;
    text-transform: uppercase;
    margin: 2.2rem 0;
}

.footer__top .more-info {
    margin-top: 6.2rem;
}

.footer__bottom {
    display: flex;
}

.footer__bottom .footer__studio {
    margin-left: 7vw;
}

.footer__bottom .footer__number {
    margin-left: 5vw;
}

.footer__back-to-top h3 {
    cursor: pointer;
}

.footer__circle {
    width: 10vw;
    height: 17vw;
    position: relative;
    top: -4vw;
    overflow: hidden;
}

.footer__circle .c-black {
    position: absolute;
    right: 3.7vw;
    top: 0;
    z-index: 2;
}

.footer__circle .c-blue {
    position: absolute;
    right: 2.5vw;
    top: 0;
    z-index: 1;
}

.footer__circle .c-yellow {
    position: absolute;
    right: 1.3vw;
    top: 0;
    z-index: 0;
}

.footer__circle .c-green {
    position: absolute;
    right: -1.2vw;
    top: 0;
    z-index: 2;
}

.footer__circle .c-black span {
    display: inline-block;
    width: 2.5vw;
    height: 2.5vw;
    background-color: #000;
    border-radius: 50%;
}

.footer__circle .c-blue span {
    display: inline-block;
    width: 2.5vw;
    height: 2.5vw;
    background-color: #0038a6;
    border-radius: 50%;
}

.footer__circle .c-yellow span {
    display: inline-block;
    width: 2.5vw;
    height: 2.5vw;
    background-color: #f8bc26;
    border-radius: 50%;
}

.footer__circle .c-green span {
    display: inline-block;
    width: 2.5vw;
    height: 2.5vw;
    background-color: #02A751;
    border-radius: 50%;
}

.footer__circle.animate .c-black {
    animation: 1.8s cubic-bezier(0.215, 0.61, 0.355, 1) 0s forwards running circleFooterBlack;
}

.footer__circle.animate .c-blue {
    animation: 1.8s cubic-bezier(0.215, 0.61, 0.355, 1) 0s forwards running circleFooterBlue;
}

.footer__circle.animate .c-yellow {
    animation: 1.8s cubic-bezier(0.215, 0.61, 0.355, 1) 0s forwards running circleFooterY;
}

.footer__circle.animate .c-green{
    animation: 1.8s cubic-bezier(0.215, 0.61, 0.355, 1) 0s forwards running circleFooterGreen;
}

@keyframes circleFooterBlack {
    0% { top: 20vw; right: 1.3vw }
    60% { top: 0; right: 1.3vw }
    100% { top: 0; right: 3.7vw }
}

@keyframes circleFooterBlue {
    0% { top: 20vw; right: 1.3vw }
    60% { top: 0; right: 1.3vw }
    100% { top: 0; right: 2.5vw }
}

@keyframes circleFooterY {
    0% { top: 20vw; right: 1.3vw }
    60% { top: 0; right: 1.3vw }
    100% { top: 0; right: 1.3vw }
}

@keyframes circleFooterGreen {
    0% { top: 20vw; right: -2.5vw }
    60% { top: 0; right: -2.5vw }
    100% { top: 0; right: -1.2vw }
}